#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}   
#nav-bar li {
    display: inline;
}
#nav-bar img {
    height: 10vh;
}
#nav-bar a {
    font: 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: top;
    padding-right: 10vw;
}
#nav-bar #page_title {
    font-weight: bold;
    padding-right: 1vw;
}