/*nav-bar css*/
#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.6); 
    overflow: hidden;
}   

#nav-bar li {
    float: left;
}
#nav-bar img {
    height: 75px;
    border: 10px solid rgba(0, 0, 0, 0.276);
}
#nav-bar a, img {
    display: block;
    text-align: center;
    font: 1.25em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#nav-bar a {
    color: white;
    text-decoration: none;
    margin: 14px 16px;
}
.active {
    border-bottom: 3px solid #f1f1f1;
}
/*competition css*/
.column {
    float: left;
    width: 25%;
    height: 100%;
    font-style: italic;
    font-size: 2vh;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  
  /* Clear floats after the columns */
  .competitions:after {
    content: "";
    display: table;
    clear: both;
  }
.column ul {
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 0%;
}
/*make the iframes inline*/
iframe {
    display: inline;
}